<div class="w-full flex flex-row h-screen gap-3">
  <app-panel-menu> </app-panel-menu>

  <div class="flex flex-column w-full h-screen">
    <div
      class="flex flex-row align-items-center justify-content-end w-full h-4rem gap-3"
    >
      <div class="flex w-15rem h-2rem justify-content-center">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-search"></i>
          </p-inputGroupAddon>
          <input pInputText placeholder="Tìm kiếm" />
        </p-inputGroup>
      </div>

      <div class="flex w-2rem h-2rem">
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          styleClass="w-full h-full"
          size="xlarge"
          shape="circle"
        />
      </div>
      <i class="pi pi-cog" style="font-size: 1.5rem"></i>
    </div>
    <div class="w-full h-full flex flex-column algin align-items-center">
      <p-breadcrumb class="w-full" [model]="items" [home]="home" />
      <div
        class="card flex flex-row w-full h-fit align-items-start justify-content-between py-3"
      >
        <div class="flex flex-row w-fit h-fit align-items-start gap-3">
          <button
            pButton
            pRipple
            size="small"
            [disabled]="false"
            icon="pi pi-plus"
            label="Tạo mới"
            class="p-button-success gap-2"
          ></button>
          <button
            pButton
            pRipple
            size="small"
            [disabled]="true"
            icon="pi pi-trash"
            label="Xóa"
            class="p-button-danger gap-2"
          ></button>
        </div>

        <div class="flex w-18rem h-2rem justify-content-center">
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-search"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Tìm kiếm sản phẩm..." />
          </p-inputGroup>
        </div>
      </div>

      <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>Description</th>
            <th>Cost</th>
            <th>Created at</th>
            <th>Updated at</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.productId }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.image }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.cost }}</td>
            <td>{{ product.createdAt }}</td>
            <td>{{ product.updatedAt }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
